body {
  font-family: "Urbanist", sans-serif;
  background: #f6c9e5;
  padding: 8px;
}
.weather-app {
  background: #ececec;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid rgb(221, 150, 221);
  padding-bottom: 30px;
}
.search-form-input {
  background-color: rgb(255, 224, 229);
  font-size: 18px;
  padding: 5px 20px;
  width: 75%;
  border-radius: 6px;
  border: none;
}
.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: rgb(221, 150, 221);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  line-height: 1;
}
main {
  padding: 30px 0;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-city {
  font-size: 38px;
  line-height: 50px;
  margin: 0;
}
.current-info {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.current-info strong {
  color: #ff55b8;
}
.current-temperature {
  display: flex;
}
.current-temperature-icon {
  width: 88px;
  height: 88px;
}

.current-temperature-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.current-temperature-unit {
  margin-top: 6px;
  font-size: 28px;
}
footer {
  border-top: 1px solid rgb(221, 150, 221);
  text-align: center;
  font-size: 14px;
  padding: 32px 0 0 0;
  color: #2c2b2e66;
}
a {
  color: #0b0b0b;
}
