body {
  font-family: "Urbanist", sans-serif;
  background: #f6c9e5;
  padding: 8px;
}
.weather-app {
  background: #ececec;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid rgb(221, 150, 221);
  padding: 0 0 20px 0;
}
.search-form-input {
  background-color: rgba(251, 199, 247, 0.471);
  font-size: 18px;
  padding: 15px 20px;
  width: 80%;
  border-radius: 6px;
  border: none;
}
.search-button {
  margin-left: 5px;
  font-size: 18px;
  background-color: rgb(221, 150, 221);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 28px;
  line-height: 1;
}
main {
  padding: 30px 0 30px 0;
}
.current-weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.current-city {
  font-size: 38px;
  line-height: 50px;
  margin: 0;
}
.current-info {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.current-info strong {
  color: #ff55b8;
}
.current-temperature {
  display: flex;
  align-items: center;
  gap: 8px;
}
.current-temperature-icon {
  width: 64px;
  height: 64px;
}
.current-temperature-value {
  font-size: 88px;
  line-height: 1px;
  font-weight: bold;
}
.current-temperature-unit {
  font-size: 28px;
  align-self: flex-start;
  margin-top: 8px;
}
.forecast-day {
  text-align: center;
  color: rgb(52, 0, 98);
  font-size: 30px;
}
.forecast-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.forecast-temperatures {
  text-align: center;
  color: #ff55b8;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.forecast-temperature {
  padding: 0 10px;
}
footer {
  border-top: 1px solid rgb(221, 150, 221);
  text-align: center;
  font-size: 14px;
  padding: 32px 0 0 0;
  color: #2c2b2e66;
}
a {
  color: #0b0b0b;
}
